/* You can add global styles to this file, and also import other style files */

body {
	background-image: url("../images/background.jpg");
}

.headtext{
	font-family: Brush Script MT;
	font-size: 35pt;
	text-align: center;
}

div.logo {
	width : 100%;
	text-align: center;
}

div.choice img.favourite{
    width : 200px;
    z-index: 10;  
	position: absolute;  
	left: 400px;  
	top: 520px;
}

div.user-group {
	text-align: left;
    margin-left: 600px; 
    padding-left: 30px;
    border-left: 1px solid gray;
    height: 100%; 
}

div.logo img.cocktails{
	width : 800px;
	padding:1px;
   	border:1px solid #021a40;
}
div.logo img.angular {
	width : 150px;
	position: absolute;
	left: 650px;
    top: 650px; 
}

app-root div.container{
	width : 100%;
	text-align: center;
}

login {
	font-family: Lucida Grande;
	font-size: 12pt;
	width : 100%;
    text-align: center;
}

.login.jumbotron.center-block h1{
	font-family: Brush Script MT;
	font-size: 20pt;
}

.form-control {
	font-family: Lucida Grande;
	font-size: 12pt;
	border-bottom: 1px solid grey;
    width : 300px;
}

.form-group {
	height: 50px;
}
.btn {
	font-family: Lucida Grande;
	font-size:12pt;
	border-radius: 50%;
	color : gray;
	margin-top: 10px;
}

