<div>
  <div class="home jumbotron centered" *ngIf="activeUser"> 
    <h1>Welcome {{activeUser.firstName}} {{activeUser.lastName}} ({{activeUser.userName}})		</h1>			
    <a [routerLink]="['/rename', {username: activeUser.userName}]" id="userLink">
			<button type="button" class="btn btn-default">Edit my profile</button>
		</a>
	<div class="return-userlist">
		<form role="form" (submit)="logout()">
			<button type="submit" class="btn btn-default">Back to User
				list</button>
		</form>
	</div>
	<div class="drink-group-left" >
	<form class="distinctList" id="distinctList">
		<label for="distinctDrinks">Distinct drinks of all users:</label>
		<select name="distinctDrinks" class="distinctDrinks" size="10" (focus)="setSelectedDistinctDrink($event.target.value)" (change)="setSelectedDistinctDrink($event.target.value)">
    		<option *ngFor="let distinctBeverage of distinctBeverages" value="{{distinctBeverage}}" >{{distinctBeverage}}</option>		
		</select>
		<br/><br/>
		<label class="newbeveragename" for="newbeveragename">New beverage</label>
    	<input type="text" name="newbeveragename" #newbeveragename value="{{newBeverageName}}" class="newdrink" (change)="newDrinkInsert();" placeholder="beverage name"/>
	</form>
	</div>
	<div class="drink-groep-center-buttons">
		<form role="form">
			<div class="drinkAgainButton">
				<input src="../../images/ok.png" type="image" class="notext" (click)="addDistinctDrinkToOwnList(activeUser.userName, true, newbeveragename.value);"/>
			</div>
			<div class="wontDrinkAgainButton">
				<input src="../../images/notok.png" type="image" class="notext" (click)="addDistinctDrinkToOwnList(activeUser.userName, false, newbeveragename.value);"/>
			</div>
		</form>
	</div>
	<div class="drink-group-center" >
	<form class="userDrinkList" (submit)="deleteSelectedDrink(activeUser.userName)">
		<label for="userDrinks" >Your drinks listed:</label>
		<select name="userDrinks" class="userDrinks" size="10" (focus)="setSelectedOwnDrink($event.target.value)" (change)="setSelectedOwnDrink($event.target.value)">
    		<option *ngFor="let beverage of beverages" value="{{beverage.name}}" class="drinkagain-{{beverage.drinkAgain}}">{{beverage.name}}</option>		
		</select>
		<button type="submit" *ngIf="selectedOwnDrink" class="btn btn-default">Delete selected drink</button>
	</form>
	</div>
	<div class="drink-groep-center-buttons">
	</div>
	<div class="drink-group-right">
		<form role="form" (submit)="updateTagList(activeUser.userName, textbox.value)">
			<label for="tagList">Tag List selected drink:</label>
			<textarea #textbox value="{{taglistString}}" rows="5" cols="25"></textarea>
			<br/>
  			<button type="submit" class="btn btn-default">Submit taglist</button>
		</form>
	</div>
	
  </div>
 </div>