div.form-group {
	text-align: left;
    margin-left: 600px;     
    padding-left: 30px;
    height: 100%; 
    width: 600px;
}

div.form-group label{
    text-align: left;
    font-family: Lucida Grande;
	font-size: 12pt;
    width: 100px;
    display: inline-block;
}

.btn {
    margin-top: 20px;
    font-family: Lucida Grande;
    font-size: 12pt;
    border-radius: 50%;
    color: grey;
    margin-left: 30px;
}

.singup.jumbotron.centered {
    font-family: Lucida Grande;
    font-style: italic;
	font-size: 20pt;
}